*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: serif sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #1a1a2e;
  color: #eee;
}

h2 {
  margin-bottom: 24px;
  font-size: 14px;
}

